@font-face {
  font-family: Kalam;
  src: url('@/assets/fonts/Kalam/Kalam-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Kalam;
  src: url('@/assets/fonts/Kalam/Kalam-Bold.ttf');
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: Kalam;
  src: url('@/assets/fonts/Kalam/Kalam-Light.ttf');
  font-display: swap;
  font-weight: lighter;
}
